body {
	font-family: Arial;
}

a {
	color: #ffffff;
}

#description {
  pointer-events:auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  background-color:rgba(255,255,255,0.7);
  -webkit-backdrop-filter: blur(5px);
  position:absolute;
  bottom: 0px;
}

.argon-focus #description {
  transition: opacity 0.8s;
  visibility: visible;
  opacity: 1; 
}

.argon-no-focus #description {
  transition: visibility 0s linear 0.8s, opacity 0.8s;
  visibility: visible;
  opacity: 0;
}

.projectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 150px;
    height: 140px;
    pointer-events: auto;
}

.infoDiv {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

.swipeDiv {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    left: 0px;
    width: 400%;
    transition: .5s;
}

.swipeDiv.rightSwipeTranslate {
    transition: .5s;
    left: 0;  
}

.swipeDiv.partialRightSwipe {
    transition: .5s;
    left: 20px;
    
}

.swipeDiv.leftSwipeTranslate {
    transition: .5s;
    left: -100%;
}
.contentContainer {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;        
    background-color: lightgray;
    width: 25%;

}

.leftArrow {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  border-right:30px solid gray;     
}

.rightArrow {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  border-left:30px solid gray;     
}

h3 {
    font-size: 15px;
    margin: 5px 0px 0px 5px;

}

.ARParagraphs {
    font-size: 10px;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.circleContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    pointer-events: auto;
}

.circles {
    margin-top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: darkgray; 
}
