body {
	font-family: Arial;
}

a {
	color: #ffffff;
}

#description {
  pointer-events:auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  background-color:rgba(255,255,255,0.7);
  -webkit-backdrop-filter: blur(5px);
  position:absolute;
  bottom: 0px;
}

.argon-focus #description {
  transition: opacity 0.8s;
  visibility: visible;
  opacity: 1; 
}

.cube {
    width: 100px;
    height: 100px;
}

.imageProps {
    width: 100%;
}

.argon-no-focus #description {
  transition: visibility 0s linear 0.8s, opacity 0.8s;
  visibility: visible;
  opacity: 0;
}

.projectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.75;
    border-radius: 10px;        
    width: 120px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: lightgray;
}

.infoDiv {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 5px;
}

.swipeDiv {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
    width: 200%;
    transition: 1s;
}

.swipeDiv.rightSwipeTranslate {
    transition: 1s;
    left: 0px;
}

.swipeDiv.leftSwipeTranslate {
    transition: 1s;
    left: -100%;
}

.contentContainer {
    width: 50%; 
    padding: 5px;
}

h3 {
    font-size: 15px;
}

.ARParagraphs {
    font-size: 10px;
}

.circleContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.circles {
    width: 5px;
    height: 5px;
    margin: 2.5px;
    border-radius: 50%;
    background-color: darkgray;   
}
