body {
	font-family: Arial;
}

a {
	color: #ffffff;
}

#description {
  pointer-events:auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  background-color:rgba(255,255,255,0.7);
  -webkit-backdrop-filter: blur(5px);
  position:absolute;
  bottom: 0px;
}

.argon-focus #description {
  transition: opacity 0.8s;
  visibility: visible;
  opacity: 1; 
}

.argon-no-focus #description {
  transition: visibility 0s linear 0.8s, opacity 0.8s;
  visibility: visible;
  opacity: 0;
}

.projectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;        
    width: 200px;
    
}

.infoDiv {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

.swipeDiv {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    left: 0px;
    width: 200%;
        padding: 5px;
    transition: .5s;
}

.swipeDiv.rightSwipeTranslate {
    transition: .5s;
    left: 0;  
}

.swipeDiv.partialRightSwipe {
    transition: .5s;
    left: 20px;
    
}

.swipeDiv.leftSwipeTranslate {
    transition: .5s;
    left: -100%;
}
.contentContainer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    padding: 15px;
    padding-right: 15px;
    background-color: lightgray;
    width: 50%; 

}

h3 {
    font-size: 15px;

}

.ARParagraphs {
    font-size: 10px;
}

.imageProps {
    pointer-events: none;
    width: 100%;    
}

.circleContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.circles {
    width: 5px;
    height: 5px;
    margin: 2.5px;
    border-radius: 50%;
    background-color: darkgray;   
}
